* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}
#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}

.contenedor {
  text-align: center;
  background: #ffffff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  text-align: center;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#countdown {
  font-size: 1.5em;
  margin-top: 15px;
  color: #ff0000;
}
